@import url('../global_styles.css');
@import url("../Navbar/navbar.css");

body{
    background-color: #2B3A41;
}

body {
  background-color: var(--accent-color-2);
}

.box {
  background-color: var(--accent-color-3);
  flex-direction: column;
}
.cart-container {
  display: flex;
  margin: 3.125rem 3.125rem 0.625rem 3.125rem;
  padding: 1.25rem;
  justify-content: space-between;
}
.cart-title {
  align-items: center;
  color: white;
  text-align: center;
}
.quantity {
  display: flex;
  align-items: center;
}
.btn-quantity {
  color: white;
  background-color: var(--accent-color-1);
  border: none;
  height: 2rem;
  width: 2rem;
  margin: 0.625rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor : pointer;
}
.image-container {
  display: flex;
  flex-grow: 1;
  margin-left: 1.25rem;
  align-items: center;
}
.menu-name {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1.063rem;
}
.amount {
  display: flex;
  align-items: center;
}
.amount-nominal {
  font-size: 1.313rem;
}
.container-subtotal {
  display: flex;
  justify-content: flex-end;
  margin: 0 3.125rem 0 3.125rem;
  padding: 1.25rem;
}
.total {
  font-weight: bold;
  font-size: 1.313rem;
  margin-right: 2rem;
}
.subtotal {
  font-size: 1.313rem;
}



/* pop up payment */

.pop-up-payment {
    width : 100vw;
    height : 100vh;
    left : 0;
    top : 0;
}

.pop-up-container-payment {
    width : 55vw;
    height : 60vh;
}

.pop-up-inner-container-payment {
    width : 90%;
    justify-content: space-around;
}

.pop-up-title-payment{
    font-size : var(--heading-font-1);
}

.pop-up-close-payment {
    margin-top : 30px;
}

.logo {
    background-color : white;
    height : 250px;
    width : 250px;
    display : flex;
    align-items : center;
    justify-content : center;
    border-radius : 50%;
    cursor : pointer;
}

.logo:hover {
    border : 8px solid var(--accent-color-1);
}

.logo img {
    width : 220px;
}

.logos {
    display : flex;
    width : 90%;
    justify-content: space-around;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    font-family: var(--title-font-family);
    font-size: var(--heading-font-1);
    background-image: url("BackgroundReserve.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    font-weight: bold;
}

.reservation-container{
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
}

.reservation-info{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem 10rem;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    "a b"
    "c d"
    "button button"; 

}

.icon {
  width : 50px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-info{
    color: white;
    font-size: var(--heading-font-4);
    margin-bottom: 1rem;
}

input{
    width: 10rem;
    height: 2rem;
    padding: 0 1rem;
    background-color: #265A5B;
    color: white;
    border: none;
}

select{
    width: 10rem;
    height: 2rem;
    padding: 0 1rem;
    background-color: #265A5B;
    color: white;
    border: none;
}

.card.a { grid-area: a; }
.card.b { grid-area: b; }
.card.c { grid-area: c; }
.card.d { grid-area: d; }

.btn-reserve { 
    grid-area: button; 
    width : 100%;
}

