@import "../Navbar/navbar.css";

body {
    background-color: var(--accent-color-2);
}

.menu-container {
    min-width : 1400px;
}

.menu-main-title {
    margin : 50px 0;
}

.card-container {
    background-color: var(--accent-color-3);
    width: 416px;
    height: 190px;
    border-radius: 12px;
    margin: 16px 0;
    display : flex;
    align-items: center;
    justify-content: center;
}

.card-inner-container {
    max-width : 90%;
    max-height : 90%;
    display: flex;
} 
.card-container-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
}
.menu-title {
    font-size: var(--heading-font-3);
    font-weight: bold;
    font-family: "Mulish", sans-serif;
}
.menu-info {
    font-size: var(--body-font);
    font-family: "Mulish", sans-serif;
    font-weight : 300;
}

.menu-price {
    font-size : var(--heading-font-4);
    font-weight : 500; 
}

.card-container-amount {
    display: flex;
    justify-content: space-between;
}
.picture {
    margin: 18px 17px;
    width: 40%;
    height: 80%;
    border: solid;
}
.image-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 416px 416px 416px;
    row-gap: 1.75rem;
    column-gap: 1.75rem;
    justify-content: center;
}
.card-container-amount > .plus-sign {
    width: 36px;
    height: 36px;
    background-color: var(--accent-color-1);
    border: none;
    cursor: pointer;
}

.icon {
    font-size: 36px;
    font-weight: bold;
    width: 36px;
    height: 36px;
    background-color: var(--accent-color-1);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon:hover {
    background-color : #8c6e51;
}

.icon:active {
    background-color : #705840;
}

.test {
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 100%;
    width: 100%;
}

.background-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

input[type="checkbox"]{
    display:none;
}

.cartLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--accent-color-1);
    border-radius: 100px;
}

.cartLogo:hover {
    background-color : #8c6e51;
}

.cartLogo:hover{
    cursor: pointer;
}

.notif {
    background-color : red;
    width : 40px;
    height : 40px;
    border-radius : 50%;
    position : absolute;
    top : -15px;
    right : 0;
    display : flex;
    align-items : center;
    justify-content : center;
    color : white;
    font-size : var(--body-font);
    font-weight : 700;
}